.aSide#searchSidebar
  %section.menubox
    .sideBox.sideSearchBox
      %h3 会員登録情報
      %ul
        %li
          = link_to '会員登録情報', '#'
        %li
          = link_to 'お届け先の変更・追加', '#'
        %li
          = link_to 'クレジットカードの情報', '#'
    .sideBox.sideSearchBox
      %h3 ZOZOポイント
      %ul
        %li
          = link_to 'ZOZOポイント', '#'
    .sideBox.sideSearchBox
      %h3 注文履歴
      %ul
        %li
          = link_to '発送済み商品', '#'
          = link_to '発送前商品', '#'
    .sideBox.sideSearchBox
      %h3 おまかせ定期便
      %ul
        %li
          = link_to '定期便申し込み内容', '#'
    .sideBox.sideSearchBox
      %h3 外部サイト
      %ul
        %li
          = link_to '外部サイトとの連携', '#'
    .sideBox.sideSearchBox
      %h3 退会
      %ul
        %li
          = link_to '退会手続き', '#'

    .sideBox.sideSearchBox.sellAbout
      %h3 買取サービス
      %ul
        %li
          = link_to 'お申し込み', '#'
        %li
          = link_to '取り引き管理', '#'
        %li
          = link_to '本人確認書類の登録', '#'
        %li
          = link_to '口座情報の登録', '#'
        %li
          = link_to '買取メルマガ', '#'
        %li
          = link_to '専用お問い合わせ', '#'