%h2 会員登録情報
%table
  %tr
    %th 基本情報
    %td
      = current_customer.last_name
      = current_customer.first_name
      %br
      = current_customer.last_name_kana
      = current_customer.first_name_kana
      %br
      = current_customer.sexuality_i18n
      %br
      = current_customer.birthday.strftime("%Y年 %m月 %d日")
      %br
      〒
      = current_customer.postal_code
      %br
      = current_customer.prefecture
      = current_customer.address_1
      = current_customer.address_2
      %br
      -if current_customer.phone_num_1.present?
        = current_customer.phone_num_1
        \-
        = current_customer.phone_num_2
        \-
        = current_customer.phone_num_3
    %td
      =link_to '変更', "/customers/#{current_customer.id}/edit/default"
  %tr
    %th メールアドレス
    %td
      = current_customer.email
    %td
      =link_to '変更', "/customers/#{current_customer.id}/edit/email"
  %tr
    %th パスワード
    %td
      *********
    %td
      = link_to '変更', edit_customer_password_path

= link_to 'ログアウト', '/customers/sign_out', method: :delete
