-# このアイテムを見ている人は,こんなアイテムも見ています
#getRecommendViewed.item_show_control.section.loadApiData.moreViewStyle
  .tit.cf
    %p.h このアイテムを見ている人は、こんなアイテムも見ています
  .container
    .data
      .firstData
        %ul.fasList.cf
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/917/30960917/30960917B_19_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥6,696
              %span.tax2 税込
      .nextData
  -# もっと見る　のトリガー部分
  %p.trigger
    %a もっと見る

-# このアイテムを見ている人におすすめ
#getRecommendByScore.item_show_control.section.loadApiData.moreViewStyle
  .tit.cf
    %p.h このアイテムを見ている人におすすめ
  .container
    .data
      .firstData
        %ul.fasList.cf
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/201/30367201/30367201B_34_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込

  -# もっと見る　のトリガー部分
  %p.trigger
    %a もっと見る

-# 人気のニット/セーターランキング
#getGoodsRanking.item_show_control.section.rankingList.loadApiData.moreViewStyle
  .tit.cf
    %p.h このアイテムを見ている人におすすめ
  .container
    .data
      .firstData
        %ul.fasList.cf
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
          %li
            .img.loading
              %a
                = image_tag "http://img5.zozo.jp/goodsimages/845/28917845/28917845B_160_D_125.jpg"
            %p.shopname N.（N. Natural Beauty Basic）
            %p.price
              ¥7,452
              %span.tax2 税込
  -# もっと見る　のトリガー部分
  %p.trigger
    %a もっと見る
  -# ニット/セーターランキング一覧
  %p.moreLink
    %a ニット/セーターランキング一覧

-# 最近チェックしたアイテム
#history_item.item_show_control.section.loadApiData
  .tit.cf
    %p.h 最近チェックしたアイテム
  .container
    .data
      %ul.cf
        %li
          %p.img.loading
            %a
              = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_26_D_215.jpg"
        %li
          %p.img.loading
            %a
              = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_26_D_215.jpg"
        %li
          %p.img.loading
            %a
              = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_26_D_215.jpg"
        %li
          %p.img.loading
            %a
              = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_26_D_215.jpg"
        %li
          %p.img.loading
            %a
              = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_26_D_215.jpg"
        %li
          %p.img.loading
            %a
              = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_26_D_215.jpg"

-# 関連キーワード
.keywordBlock.section
  %h3 このアイテムのキーワード
  %ul.tagLink.cf
    %li
      %a 袖なし
    %li
      %a 無地
    %li
      %a Vネック

-# 他のショップをみる
#other_shop_item.item_show.section
  .tit.cf
    %p.h 他のショップのニット/セーターを見る
  .container
    .data
      %ul.cf
        %li
          %a SPINNS
        %li
          %a VANQUISH
        %li
          %a RAWLIFE
        %li
          %a L.H.P
        %li
          %a glamb
        %li
          %a EGOIST
        %li
          %a MODE ROBES
        %li
          %a aquagirl

-# ZOZOTOWN（ゾゾタウン）のご紹介
#about.section.pickup
  .clearfix.sectionHeader
    %h2 ZOZOTOWN（ゾゾタウン）のご紹介
    .txt
      %p ZOZOTOWNはN.（N. Natural Beauty Basic）（エヌ（エヌ ナチュラルビューティーベーシック） ）のニット/セーターなど、人気ブランドのアイテムを多数取り揃えるファッション通販サイトです。ニット/セーターなど、6567ブランドの最新アイテムをオンラインでご購入いただけます。
