#goodsRight
  %div
    #couponGoodsBox
      #couponGoodstxt.cpColor_I3
        %a.allCouponShop
          ¥2,000クーポン対象商品
          %span.itemLink すべての対象商品
  .innerRight
    .infoBlock
      #arriveScheduleListArea
        #arriveScheduleListInner
      #item-intro
        %ul#nameList
          %li
            ショップ：
            %a N.（N. Natural Beauty Basic）
          %li
            ショップ：
            %a N.（N. Natural Beauty Basic）
        %h1 ◆アゼノースリーブVネックニット
        #isLaterPay.cf
          .priceWrapper
            %p.price
              ¥6,048
              %span.tax2 税込
        %div
          %p#useCouponPrice
            さらにクーポン利用で
            %span.bold ¥4,048
            で購入できます！（本日最終日）
        %p#omakeInfo
          ¥5,000以上買うとフォトブックが無料で作れる！
          %a 詳細
        #privilege
          %p.privilegePoint 56ポイント還元（ZOZOCARD：112ポイント還元）
          %p#userBookmark
            お気に入りアイテム登録数：
            %span 202
            人
        #exShipping
        -# 予約
        .reserveBox
          %p.tit.att この商品は予約商品です
          #arriveScheduleViewArea
            %p
              お届け：
              %span#arriveScheduleView 2018年5月中旬
          %p.attention
            予約商品は、
            %span.att 注文取り消し・返品・交換対象外
            です。
          %ul.info
            %li ※実際にお届けする商品と仕様やサイズが異なる場合がございます。
            %li ※生産の都合上、お届け時期が前後する場合がございます。

      -# カート関連
      .cartBlock.clearfix.cf
        .blockMain
          %dl.cf
            %dt
              %span.img
                = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
              %span.txt ネイビー
            %dd
              %ul
                %li#cart_did_52979605.cf
                  .cartbox
                    .stock
                      %p
                        %span
                          M /
                          %span 予約可能
                      %p.zozosize.ico_sex.ico_women
                        %span.sizeZ
                          %span
                            M
                            %span サイズ相当
                    .cart
                      =form_tag do
                        %input{name:"c", type:"hidden", value:"put"}
                        %input{name:"sid", type:"hidden", value:""}
                        %input{name:"rid", type:"hidden", value:""}
                        %input{name:"p_seckey", type:"hidden", value:""}
                        %span.btn
                          %input{ type:"submit", value:"予約する", class:"btn reserveBtn"}
                    .bkmk
                      =form_tag do
                        %span.btn
                          %input{ type:"submit", value:""}
                        %input{name:"gid", type:"hidden", value:""}
                        %input{name:"did", type:"hidden", value:""}
                        %input{name:"zsids", type:"hidden", value:""}
      .cartBlock.clearfix.cf
        .blockMain
          %dl.cf
            %dt
              %span.img
                = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
              %span.txt ネイビー
            %dd
              %ul
                %li#cart_did_52979605.cf
                  .cartbox
                    .stock
                      %p
                        %span
                          M /
                          %span 予約可能
                      %p.zozosize.ico_sex.ico_women
                        %span.sizeZ
                          %span
                            M
                            %span サイズ相当
                    .cart
                      =form_tag do
                        %input{name:"c", type:"hidden", value:"put"}
                        %input{name:"sid", type:"hidden", value:""}
                        %input{name:"rid", type:"hidden", value:""}
                        %input{name:"p_seckey", type:"hidden", value:""}
                        %span.btn
                          %input{ type:"submit", value:"予約する", class:"btn reserveBtn"}
                    .bkmk
                      =form_tag do
                        %span.btn
                          %input{ type:"submit", value:""}
                        %input{name:"gid", type:"hidden", value:""}
                        %input{name:"did", type:"hidden", value:""}
                        %input{name:"zsids", type:"hidden", value:""}
      .cartBlock.clearfix.cf
        .blockMain
          %dl.cf
            %dt
              %span.img
                = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
              %span.txt ネイビー
            %dd
              %ul
                %li#cart_did_52979605.cf
                  .cartbox
                    .stock
                      %p
                        %span
                          M /
                          %span 予約可能
                      %p.zozosize.ico_sex.ico_women
                        %span.sizeZ
                          %span
                            M
                            %span サイズ相当
                    .cart
                      =form_tag do
                        %input{name:"c", type:"hidden", value:"put"}
                        %input{name:"sid", type:"hidden", value:""}
                        %input{name:"rid", type:"hidden", value:""}
                        %input{name:"p_seckey", type:"hidden", value:""}
                        %span.btn
                          %input{ type:"submit", value:"予約する", class:"btn reserveBtn"}
                    .bkmk
                      =form_tag do
                        %span.btn
                          %input{ type:"submit", value:""}
                        %input{name:"gid", type:"hidden", value:""}
                        %input{name:"did", type:"hidden", value:""}
                        %input{name:"zsids", type:"hidden", value:""}
      .cartBlock.clearfix.cf
        .blockMain
          %dl.cf
            %dt
              %span.img
                = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
              %span.txt ネイビー
            %dd
              %ul
                %li#cart_did_52979605.cf
                  .cartbox
                    .stock
                      %p
                        %span
                          M /
                          %span 予約可能
                      %p.zozosize.ico_sex.ico_women
                        %span.sizeZ
                          %span
                            M
                            %span サイズ相当
                    .cart
                      =form_tag do
                        %input{name:"c", type:"hidden", value:"put"}
                        %input{name:"sid", type:"hidden", value:""}
                        %input{name:"rid", type:"hidden", value:""}
                        %input{name:"p_seckey", type:"hidden", value:""}
                        %span.btn
                          %input{ type:"submit", value:"予約する", class:"btn reserveBtn"}
                    .bkmk
                      =form_tag do
                        %span.btn
                          %input{ type:"submit", value:""}
                        %input{name:"gid", type:"hidden", value:""}
                        %input{name:"did", type:"hidden", value:""}
                        %input{name:"zsids", type:"hidden", value:""}
      .cartBlock.clearfix.cf
        .blockMain
          %dl.cf
            %dt
              %span.img
                = image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
              %span.txt ネイビー
            %dd
              %ul
                %li#cart_did_52979605.cf
                  .cartbox
                    .stock
                      %p
                        %span
                          M /
                          %span 予約可能
                      %p.zozosize.ico_sex.ico_women
                        %span.sizeZ
                          %span
                            M
                            %span サイズ相当
                    .cart
                      =form_tag do
                        %input{name:"c", type:"hidden", value:"put"}
                        %input{name:"sid", type:"hidden", value:""}
                        %input{name:"rid", type:"hidden", value:""}
                        %input{name:"p_seckey", type:"hidden", value:""}
                        %span.btn
                          %input{ type:"submit", value:"予約する", class:"btn reserveBtn"}
                    .bkmk
                      =form_tag do
                        %span.btn
                          %input{ type:"submit", value:""}
                        %input{name:"gid", type:"hidden", value:""}
                        %input{name:"did", type:"hidden", value:""}
                        %input{name:"zsids", type:"hidden", value:""}
      -# カート関連 @end
      -# 詳細情報
      .tabContainer
        .detailBlock
          #swConditionTab
            .tab
              %ul.cf
                %li.current
                  %a アイテム詳細
                %li.current
                  %a サイズ詳細
          #tabItemInfo.explanationBlock.tabInner.current
            .innerBox
              .contbox
                柔らかい風合いで仕立てたアゼ編みのカラーニット。盛夏まで着られる軽い糸を使用、程よくゆるいシルエットが女性らしい華奢見えを実現。シンプルなアイテムなので、ONからOFFまでどんなコーディネートにも着回しできる1枚です。
                .infoBlock
                  .infoBox
                    %br
                    %p ※ご注文いただいた予約商品のお届け時期の確認は、注文履歴ページより行えます。
                    %p ※予約商品は、その他の予約商品や通常商品との同時決済はできません。
            #itemDetailInfo.innerBox
              .contBox
                %dl
                  %dt 性別タイプ
                  %dd
                    %a :レディース
                  %dt カテゴリ
                  %dd
                    %a :トップス > ニット/セーター
                  %dt 素材
                  %dd
                    %a :ポリエステル100%
                  %dt 原産国
                  %dd
                    %a :中国製
                  %dt 即日配送
                  %dd
                    %a :即日配送不可
                  %dt 送料
                  %dd
                    %a :購入金額に関わらず一律200円 詳細
                  %dt ギフト
                  %dd
                    %a :ラッピング不可
                  %dt 問い合わせ番号
                  %dd
                    %a :30647387（ZOZO）
                    %a :166-8270504（店舗）
            .blockBottom
              %p.detail_link
                %a 返品の詳細 |
                %a ポイントの詳細
      -# アイコン
      #snsBtn
        %ul#social.cf
          %li#onedari-mailbutton.giveMeMail
            %a
              = image_tag "mail.png"
          %li.twitter
            %a
              = image_tag "twitter.png"
          %li.facebook
            %a
              = image_tag "facebook.png"
          %li.google
            %a
              = image_tag "google.png"

      .goodsAddFavBtn
        %p.txt このブランド「N.（N. Natural Beauty Basic）」はお好きですか？
        %p.brand
          %a#addFavBrand
            %span.rearrival ♡このブランドをお気に入りに登録
